@import url(960.css);

/* kleuren */

/* 0A5573

F2F2F2

BFBFBF 

8C8C8C

262626 */
 

body {
	background: #BFBFBF;
	color: #262626;
	font: 13px/18px Georgia, Palatino, Times, serif;
	margin: 0;
	padding: 0;
}

a img {
	border: 0;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #0A5573;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

a:hover {
	color: #fff;
	background-color: #0A5573;
}

h1, h2 {
  color: #8C8C8C;
	margin: 0px;
	font-weight: normal;
	font-size: 36px;
	line-height: 44px;
}

h3 {
  color: #262626;
	font-size: 18px;
	font-weight: normal;
	line-height: 27px;
	margin: 20px 0 0 0;
	padding: 0;
}

.container_12 {
  background-color: #F2F2F2;
}

.logo {
  display: block;
  margin: 20px;
}

.logo:hover {
  background-color: none !important;
}

.headright {
  float: right;
  margin: 60px 50px 0px 50px;
}

ul.login li {
  display: inline;
  margin-right: 30px;
}

#notice {
  color: green;
  padding: 5px 20px;
}

.content {
  padding: 20px 20px 50px 20px;
}

ul.randomhome {
  margin: 0;
  padding: 20px 0px 0px 20px;
}

ul.randomhome li {
  margin: 0;
  width: 500px;
}
