<h1><%= @user.real_name %>'s resolutions</h1>
<ul>
<% @user.resolutions.each do |resolution| %>
<li><a href="<%= resolution_path(resolution) %>"><%= resolution.resolution %></a></li>
<% end %>
</ul>

