<h1>What are your resolutions?</h1>

<div class="grid_7">
<h3>With <strong>yourresolutions</strong> you can easily create your commitments for the upcoming year! You can share your resolutions with friends and see what their personal goals, projects or habit changes are.</h3>
<h3>Go <%= link_to('ahead', new_user_registration_path) %> and let your resolutions come true in 2011!</h3>

<div class="grid_10">
<ul class="randomhome">
<% @resolutions.each do |resolution| %>
<li><a href="<%= resolution_path(resolution) %>"><%= resolution.resolution %></a></li>
<% end %>
</ul>
</div>

</div>
