<h2><%= @resolution.resolution %></h2>

<h3>People intending to do this</h3>
<ul>
	<% @resolution.users.each do |user| %>
		<li><%= link_to user.email, user_path(user) %></li>
	<% end %>
</ul>
<%= button_to "Me too!", intends_path(:resolution_id => @resolution.id) %>